// Header.scss
.container__header {
	max-width: 500px;
	margin: auto;
}
.header {
	padding-top: 24px;
	display: flex;
	flex-direction: column;

	&__topNav {
		border-bottom: 1px solid #eeeeef;
		padding-bottom: 16px;

		.topNav {
			display: flex;
			gap: 32px;
			justify-content: flex-end;
			max-width: 1216px;

			&__lien {
				font-size: 12px;
				color: #58585a;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: 1.2px;
				text-transform: uppercase;
			}
		}
	}

	&__nav {
		padding: 16px;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		margin: 20px 20px 0 20px;
		max-width: 1280px;
	}
}

.logo {
	width: 185px;
}

@media screen and (min-width: 768px) {
	.container__header {
		max-width: 768px;
	}
}

@media screen and (min-width: 1400px) {
	.container__header {
		padding: 0px 32px;
		max-width: 1280px;
	}
	.header {
		justify-content: normal;
		// gap: 40px;
		margin: 0;
	}
	.header__nav {
		margin: 0;
		padding: 0;
		padding-top: 22px;
	}
	.header__topNav {
		align-self: end;
		width: 100%;
	}
	.social-logos {
		display: flex;
	}
	.footer .logo {
		width: 280px !important;
	}
}
