// App.scss
.body {
	font-family: var(--font-text);
	font-size: 18px;
	line-height: 1.5;
	color: var(--color-on-background);
	background-color: var(--color-background);
}

.title {
	color: #303032;
	font-family: var(--font-title);
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	margin-bottom: 36px;

	&--color {
		padding-top: 9px;
		font-family: var(--font-title);
		font-size: 80px;
		font-style: normal;
		font-weight: 700;
		line-height: 90%;
		display: block;
		background: linear-gradient(90deg, #e4032e 13.48%, #9f9fef 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&--niveau2 {
		color: #252526;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 110%;
	}
}

.bold {
	font-weight: bold;
}

.section {
	margin-top: 83px;
	padding: 0px 48px;

	&--deco {
		background-image: url("assets/img/deco.svg");
		background-repeat: no-repeat;
		background-size: 95%;
	}

	&--ressources {
		border-radius: 32px;
		background: #fce6ea;
		// padding: 125px 168px 0 168px;
		padding: 128px 48px 0 48px;

		background-image: url("assets/img/ruche.png");
		background-repeat: no-repeat;
		// background-position: 100% -30%;
		background-position: 100% -2%;
		background-size: 70%;

		margin-bottom: 10rem;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		p {
			color: #58585a;
			font-family: "Inter", sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 300;
			line-height: 180%; /* 32.4px */
		}
	}
	&--actualites {
		margin-bottom: 122px;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		overflow: hidden;

		&::before {
			content: url(assets/img/deco-actualites-2.svg);
			display: block;
			width: 300px;
			// height: 115px;
			position: absolute;
			left: 0px;
			z-index: -1;
		}

		&::after {
			content: url(assets/img/deco-actualites.svg);
			display: block;
			width: 300px;
			// height: 115px;
			position: absolute;
			bottom: 0px;
			left: 0px;
			z-index: -1;
		}
	}
}
.background {
	&--poly {
		background-image: url("assets/img/polygone.svg");
		background-repeat: no-repeat;
		background-position: top right;
	}
}

@media screen and (min-width: 1400px) {
	.footer {
		padding-top: 134px;
		margin: auto;
		max-width: 1280px;
	}
	.header__nav {
		margin: inherit;
	}
	.section {
		padding: 0px 112px;
		max-width: 1280px;
		margin: auto;
		&--deco {
			background-size: 100%;

			p {
				max-width: 681px;
			}

			.container {
				flex-direction: row;
				justify-content: space-evenly;
				gap: 81px;
			}
		}

		&--deco {
			padding-top: 83px;
		}

		&--ressources {
			align-items: inherit;
			padding: 125px 168px;
			height: 729px;
			p {
				width: 462px;
			}
			.resource-card-container {
				flex-direction: row;
				position: relative;
			}
			// .resource-card {

			// }
			.resource-card__content {
				width: inherit;
			}
			.ResourceCard--bas {
				top: 100px;
				left: 550px;
				position: absolute;
			}
		}

		&--actualites {
			align-items: inherit;
			padding-top: 168px;

			.title--niveau2 {
				width: 532px;
				font-size: 46px;
			}
			.actualites-card-container {
				flex-direction: row;
			}
			.btn__fake--secondary {
				align-self: center;
			}
		}
	}
	.footer {
		.contact-social {
			display: flex;
			gap: 83px;
		}
		.legal-section {
			ul {
				display: flex;
				gap: 5px;
			}
		}
	}
	.section--actualites::after {
		bottom: -50px;
		left: 0px;
		width: inherit;
	}
	.section--actualites::before {
		width: inherit;
		right: 0px;
		left: inherit;
		bottom: 113px;
	}
}
