// App.scss
.body {
	width: fit-content;
	font-family: var(--font-text);
	font-size: 18px;
	line-height: 1.5;
	color: var(--color-on-background);
	background-color: var(--color-background);
}
.logo,
.social-logos {
	display: flex;
	gap: 10px;

	img {
		cursor: pointer;
	}
}
.title {
	color: #303032;
	font-family: var(--font-title);
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	margin-bottom: 36px;

	&--color {
		padding-top: 9px;
		font-family: var(--font-title);
		font-size: 80px;
		font-style: normal;
		font-weight: 700;
		line-height: 90%;
		background: linear-gradient(90deg, #e4032e 13.48%, #9f9fef 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		width: inherit;
	}

	&--niveau2 {
		color: #252526;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 110%;
	}
}

.bold {
	font-weight: bold;
}

.section {
	margin-top: 83px;
	padding: 0px 48px;

	&--deco {
		// background-image: url("assets/img/deco.svg");
		// background-repeat: no-repeat;
		// background-size: 95%;
		position: relative;

		.deco__svg {
			width: 100%;
			position: absolute;
			z-index: 0;
			right: 60px;
			overflow: visible;
		}

		.title,
		.text {
			position: relative;
		}
	}

	&--ressources {
		border-radius: 32px;
		background: #fce6ea;
		// padding: 125px 168px 0 168px;
		// padding: 0px 48px 0 48px;
		padding: 0px 48px 450px 48px;
		position: relative;
		overflow: hidden;
		height: 900px;
		// overflow-x: hidden;

		// background-image: url("assets/img/ruche.png");
		// background-repeat: no-repeat;
		// // background-position: 100% -30%;
		// background-position: 100% -2%;
		// background-size: 70%;

		margin-bottom: 14rem;
		margin-top: 20px;

		// display: flex;
		// align-items: center;
		// justify-content: center;
		// flex-direction: column;

		.ressources__svg {
			// width: 100%;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			overflow: hidden;
		}
		.ressources--title {
			position: relative;
		}

		p {
			color: #58585a;
			font-family: "Inter", sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 300;
			line-height: 180%; /* 32.4px */
		}
	}
	&--actualites {
		margin-bottom: 122px;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		// top: 600px;

		&::before {
			content: url(assets/img/deco-actualites-2.svg);
			display: block;
			width: 300px;
			// height: 115px;
			position: absolute;
			right: 350px;
			top: 130px;
			z-index: -1;
		}

		&::after {
			content: url(assets/img/deco-actualites.svg);
			display: block;
			width: 300px;
			// height: 115px;
			position: absolute;
			bottom: 0px;
			right: 450px;
			z-index: -1;
		}
	}
}
.background {
	&--poly {
		background-image: url("assets/img/polygone.svg");
		background-repeat: no-repeat;
		background-position: top right;
	}
}

.footer {
	position: relative;
	top: 100px;
}

@media screen and (min-width: 760px) {
	// .section {
	// 	&--deco {
	// 		.container {
	// 			flex-direction: row;
	// 			justify-content: space-evenly;
	// 			gap: 162px;
	// 		}
	// 	}
	// }
	// .hexagon:not(.blanc) .svg:not(.svg--blanc) {
	// 	display: block;
	// }
}

@media screen and (max-width: 1400px) {
	.section .section--actualites,
	.ssection .section--ressources {
		overflow: hidden;
	}
}

@media screen and (min-width: 1400px) {
	.body {
		width: 100%;
		overflow-x: hidden;
	}
	.footer {
		padding-top: 174px;
		margin: auto;
		max-width: 1280px;
	}
	.header__nav {
		margin: inherit;
	}
	.section {
		padding: 0px 112px;
		max-width: 1280px;
		margin: auto;
		&--deco {
			background-size: 100%;

			.text {
				max-width: 681px;
			}

			.container {
				flex-direction: row;
				justify-content: space-evenly;
				gap: 162px;
			}
		}

		&--deco {
			padding-top: 83px;
		}

		&--ressources {
			align-items: inherit;
			padding: 125px 168px;
			height: 729px;
			background-position: 116% -58%;

			// overflow: inherit;

			.ressources__svg {
				bottom: 270px;
				left: 707px;
				width: 80%;
			}
			p {
				width: 462px;
			}
			.resource-card-container {
				flex-direction: row;
				position: relative;
			}
			// .resource-card {

			// }
			.resource-card__content {
				width: inherit;
			}
		}

		&--actualites {
			align-items: inherit;
			margin-top: 300px;
			overflow: inherit;
			top: 150px;
			&::before {
				bottom: 380px;
				left: 763px;
				right: inherit;
			}
			&::after {
				top: 365px;
				right: 1330px;
			}

			.title--niveau2 {
				width: 532px;
				font-size: 46px;
			}
			.actualites-card-container {
				flex-direction: row;
			}
			.btn__fake--secondary {
				align-self: center;
			}
		}
	}
	.footer {
		top: 200px;
		.contact-social {
			display: flex;
			gap: 83px;
		}
		.legal-section {
			ul {
				display: flex;
				gap: 5px;
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.section .section--actualites,
	.ssection .section--ressources {
		overflow: hidden;
	}
}
