// FakeButton.scss
.btn__fake {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 18px 40px 18px 32px;
	border-radius: 90px;
	background: var(--color-primary);
	width: fit-content;

	color: #fff;

	font-size: 14px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 1.4px;
	text-transform: uppercase;

	.icon {
		color: #000;
		font-family: Exo;
		font-size: 20px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	&--secondary {
		border: 1px solid #eeeeef;
		background: #fff;
		color: #303032;
	}

	&--blanc {
		background: #fff;
		color: #303032;
	}
}
