// FakeButton.scss
.btn__fake {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 18px 40px 18px 32px;
	border-radius: 90px;
	background: var(--color-primary);
	width: fit-content;

	color: #fff;

	font-size: 14px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 1.4px;
	text-transform: uppercase;

	&:hover {
		background-color: #c9213f;
	}

	.icon {
		color: #000;
		font-family: Exo;
		font-size: 20px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	&--secondary {
		border: 1px solid #eeeeef;
		background: #fff;
		color: #303032;

		&:hover {
			background-color: #ece1e1;
		}
	}

	&--troisieme {
		border-radius: 90px;
		border: 1px solid #d6d6d6;
		color: #252526;
		text-align: center;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: 160%;
		background: inherit;
		padding: 10px 16px;
		text-transform: inherit;

		&:hover {
			background-color: #ece1e1;
		}
	}

	&--quatrieme {
		font-style: normal;
		font-weight: 300;
		line-height: 160%;
		padding: 10px 16px;
		text-transform: inherit;
	}

	&--footer {
		border-radius: 90px;
		background: #575756;
		color: #fff;
		text-align: center;
		font-size: 13px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.65px;
		text-transform: uppercase;
		align-items: center;

		&:hover {
			background-color: #5f5f5b;
		}
	}

	&--blanc {
		background: #fff;
		color: #303032;

		&:hover {
			background-color: #e0cace;
		}
	}
}
