// Home.scss
.container {
	display: flex;
	flex-direction: column;
	margin-top: 38px;
	padding-top: 32px;
}

.resource-card-container {
	display: flex;
	gap: 72px;
	flex-direction: column;
	width: fit-content;
	margin-top: 67px;
	position: relative;
	top: 60px;
}

.ressources--title {
	padding-top: 125px;
}
