.menu {
	display: none;
}

body[data-menu] .menu {
	display: flex;
	height: 100%;
	overflow-y: scroll;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 90;
	background-color: #fff;
	background-image: url("assets/img/polygone.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 90%;
	flex-direction: column;
}

.menu__liste {
	list-style: none;
	margin-top: 5rem;
	padding: 1.5rem;
	text-align: center;
	height: 100%;

	&--contact {
		margin-top: 0;
		background-color: var(--color-background);
		display: flex;
		align-items: center;
		flex-direction: column;

		.menu__lien {
			color: var(--color-on-text-contact);
		}
	}
}

.menu__el {
	text-align: center;

	&--actif {
		background-color: var(--color-background);
		.menu__lien {
			color: var(--color-primary);
		}
	}

	&--btn {
		display: flex;
		justify-content: center;
	}
}

.menu__lien {
	color: var(--color-on-primary);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
	display: inline-block;
	padding: 1em;
	margin: 0.5em;
	font-size: 18px;
	transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
}

@media screen and (min-width: 1400px) {
	.menu {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.menu__liste {
		height: auto;
		margin-top: 0;
		display: flex;
		gap: 24px;
		align-items: center;
		padding: 0;

		&--contact {
			flex-direction: row;
			background-color: inherit;
		}
	}
	.menu__el {
		height: fit-content;
		padding-bottom: 8px;

		&--actif {
			border-bottom: 1px solid var(--color-primary);

			.menu__lien {
				color: inherit;
			}
		}
	}
	.menu__lien {
		color: var(--color-on-menu-text);
		font-size: 14px;
		text-transform: inherit;
		letter-spacing: 0;
		display: inherit;
		padding: 0;
		margin: 0;
	}
}
