.menu {
	display: none;
}
body[data-menu] {
	.background--poly {
		position: relative;
	}

	.menu {
		display: flex;
		height: 100%;
		overflow-y: scroll;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 90;
		background-color: #fff;
		background-image: url("assets/img/polygone.svg");
		background-repeat: no-repeat;
		background-position: top right;
		background-size: 90%;
		flex-direction: column;
	}
	.ressources__container,
	.section--ressources,
	.section--actualites,
	.footer {
		display: none;
	}
}
.menu__liste {
	list-style: none;
	margin-top: 10rem;
	padding: 1.5rem;
	text-align: center;
	height: 100%;

	&--contact {
		margin-top: 0;
		background-color: var(--color-background);
		display: flex;
		align-items: center;
		flex-direction: column;

		.menu__lien {
			color: var(--color-on-text-contact);
		}
	}
}

.menu__el {
	text-align: center;

	&--actif {
		.menu__lien {
			color: var(--color-primary);
		}
	}

	&--btn {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
}

.menu__lien {
	color: var(--color-on-primary);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
	display: inline-block;
	padding: 1em;
	margin: 0.5em;
	font-size: 24px;
	transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
}

@media screen and (min-width: 1400px) {
	.menu {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	.menu__liste {
		height: auto;
		margin-top: 0;
		display: flex;
		gap: 32px;
		align-items: center;
		padding: 0;

		&--contact {
			flex-direction: row;
			background-color: inherit;
		}
	}
	.menu__el {
		height: fit-content;
		padding-bottom: 8px;

		&--actif {
			border-bottom: 1px solid var(--color-primary);

			.menu__lien {
				color: inherit;
			}
		}
	}
	.menu__lien {
		color: #303032;
		font-size: 14px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		letter-spacing: 1.4px;
		text-transform: uppercase;
		padding: 0em;
		margin: 0em;
	}
}
